<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.keep.dao.CourseDao">
    <resultMap id="CourseMap" type="com.example.keep.entity.Course">
        <result property="id" column="id" jdbcType="INTEGER" />
        <result property="name" column="name" jdbcType="VARCHAR" />
        <result property="coach_id" column="coach_id" jdbcType="INTEGER" />
        <result property="coach" column="coach" jdbcType="VARCHAR" />
        <result property="classes" column="classes" jdbcType="INTEGER" />
        <result property="introduction" column="introduction" jdbcType="VARCHAR" />
        <result property="price" column="price" jdbcType="DECIMAL" />
        <result property="picture" column="picture" jdbcType="VARCHAR" />
        <result property="video" column="video" jdbcType="VARCHAR" />
    </resultMap>

    <select id="findAll" resultMap="CourseMap">
        select *
        from course;
    </select>

    <select id="findByName" resultMap="CourseMap">
        select
            *
        from course
        where name like CONCAT('%', #{name}, '%')
    </select>

    <insert id="addCourse" keyProperty="id" useGeneratedKeys="true">
        insert
        into course(name, coach_id, coach, classes, introduction, price, picture, video)
        values(#{name},#{coach_id}, #{coach}, #{classes}, #{introduction}, #{price}, #{picture}, #{video})
    </insert>

    <delete id="deleteById">
        delete
        from course
        where id=#{id}
    </delete>

    <update id="updateById" keyProperty="id" useGeneratedKeys="true">
        update course
        set username=#{name}, coach_id=#{coach_id}, coach=#{coach}, classes=#{classes}, introduction=#{introduction}, price=#{price}, picture=#{picture}, video=#{video}
        where id=#{id}
    </update>

</mapper>