<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.keep.dao.OrderDao">
    <resultMap id="OrderMap" type="com.example.keep.entity.Order">
        <result property="id" column="id" jdbcType="INTEGER" />
        <result property="user_id" column="user_id" jdbcType="INTEGER" />
        <result property="course_id" column="course_id" jdbcType="INTEGER" />
        <result property="price" column="price" jdbcType="DECIMAL" />
        <result property="date" column="date" jdbcType="TIMESTAMP" />
    </resultMap>

    <select id="findAll" resultMap="OrderMap">
        select *
        from keep.order
    </select>

    <select id="findByUserId" resultMap="OrderMap">
        select
            *
        from keep.order
        where user_id = #{id}
    </select>

    <delete id="deleteById">
        delete
        from keep.order
        where id=#{id}
    </delete>

    <insert id="addOrder" keyProperty="id" useGeneratedKeys="true">
        insert into keep.order(course_id, user_id, date, price)
        values (#{course_id}, #{user_id}, #{date}, #{price})
    </insert>


</mapper>