<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.keep.dao.UserDao">
    <resultMap id="UserMap" type="com.example.keep.entity.User">
        <result property="id" column="id" jdbcType="INTEGER" />
        <result property="username" column="username" jdbcType="VARCHAR" />
        <result property="password" column="password" jdbcType="VARCHAR" />
    </resultMap>

    <select id="findAll" resultMap="UserMap">
        select *
        from user;
    </select>

    <select id="findByUsername" resultMap="UserMap">
        select
            *
        from user
        where username like CONCAT('%', #{username}, '%')
    </select>

    <insert id="addUser" keyProperty="id" useGeneratedKeys="true">
        insert
        into user(username, password)
        values(#{username},#{password})
    </insert>

    <delete id="deleteById">
        delete
        from user
        where id=#{id}
    </delete>

    <update id="updateById" keyProperty="id" useGeneratedKeys="true">
        update user
        set username=#{username}, password=#{password}
        where id=#{id}
    </update>

</mapper>